@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 10 10;
  --foreground: 229 229 229;
  --accent: 34 197 94;
}

html,
body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background)) !important;
  background-image: radial-gradient(circle at top right, rgba(34, 197, 94, 0.05), transparent 40%),
    radial-gradient(circle at bottom left, rgba(34, 197, 94, 0.03), transparent 40%);
  min-height: 100vh;
  margin: 0;
}